@font-face {
  font-family: 'AlfaSlabOne-Regular';
  src: url('fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('fonts/ProximaNova-Bold.ttf') format('truetype');
  font-style: normal;    
}
* {
  margin: 0;
  padding: 0;
  background: none;
}
.hud {
  margin-left: auto;
  margin-right: 0;
  width: 25vw;
}
.logo {
  width: 100%;
  height: 100px;
}
.logo img {
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}
.general {
  height: 120px;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 100px auto;
}
.progress-bars {
  margin-top: 8px;
  width: 100%;
  height: 100%;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar progress {
  margin-top: 10px;
  width: 80%;
  background: none;
}
progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.425);
  border-radius: 25px;
  height: 0.5vw;
}
progress::-webkit-progress-value {
  border-radius: 25px;
}
#progress-hp::-webkit-progress-value {
  background-color: rgba(255, 0, 162, 0.99);
  -webkit-box-shadow: 0 0 21px 0 rgba(255, 0, 162, 0.99);
  -moz-box-shadow: 0 0 21px 0 rgba(255, 0, 162, 0.99);
  box-shadow: 0 0 21px 0 rgba(255, 0, 162, 0.99);
}
#progress-armor::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.99);
  -webkit-box-shadow: 0 0 21px 0 rgba(255, 255, 255, 0.99);
  -moz-box-shadow: 0 0 21px 0 rgba(255, 255, 255, 0.99);
  box-shadow: 0 0 21px 0 rgba(255, 255, 255, 0.99);
}
#progress-eat::-webkit-progress-value {
  background-color: rgba(255, 156, 0, 0.99);;
  -webkit-box-shadow: 0 0 21px 0 rgba(255, 156, 0, 0.99);;
  -moz-box-shadow: 0 0 21px 0 rgba(255, 156, 0, 0.99);;
  box-shadow: 0 0 21px 0 rgba(255, 156, 0, 0.99);;
}
.money {
  margin-top: 10px;
  text-align: right;
  margin-right: 25px;
  color: #00cd5e;
  font-family: 'AlfaSlabOne-Regular';
  font-size: 2.5vw;
  text-shadow: 0 0 21px #00cd5e;
}
.ammo-value {
  color: white;
  text-align: center;
  font-family: 'Proxima Nova Bold';
}
.hp-value, .arm-value, .eat-value {
  color: white;
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Proxima Nova Bold';
}
.notifications {
  width: 100%;
}
.suspect {
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(left, #794199 0, rgba(104, 31, 186, 0.69) 32.76367%, rgba(104, 31, 186, 0.5) 53.271484%, rgba(104, 31, 186, 0.0) 100%);
  background: -webkit-linear-gradient(left, #794199 0, rgba(104, 31, 186, 0.69) 32.76367%, rgba(104, 31, 186, 0.5) 53.271484%, rgba(104, 31, 186, 0.0) 100%);
  display: flex;
  padding: 15px;
  margin-top: 20px;
}
.notification-name {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  background: none;
  font-family: 'Proxima Nova Bold';
  font-style: 1.3rem;
}
.stars {
  margin-left: auto;
  margin-top: 2px;
  margin-right: 0;
  background: none;
}
.wanted {
  background: none;
}
.map-border {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  height: 200px;
  width: 300px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 3px solid white;
}
#fps {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Proxima Nova Bold';
  font-size: 24px;
}